body {
    text-align: center;
}

.hero {
  display: inline-block;
}

.selected > img {
  background-image: url('../images/Selector.png');
}

.hero:hover:not(.selected) {
  cursor: pointer;
  opacity: 0.7;
}

.hero:hover:not(.selected) > img {
  background-image: url('../images/Selector.png');
}

.buttons {
  margin-top: 20px;
}
